.idea
modeluse_server/templates
modeluse_server/upImg

model_state.pth
sportinfo.txt

Private_Info

PreProcessing/imgs/tourapi_img
PreProcessing/resource_data
PreProcessing/tourAPI_photogallery/__pycache__
PreProcessing/tourAPI_photogallery/.pytest_cache

# PreProcessing/selenium_crawling/__pycache__
# PreProcessing/selenium_crawling/.pytest_cache
PreProcessing/selenium_crawling/chromedriver.exe

PreProcessing/selenium_crawling_instagram
PreProcessing/Test
PreProcessing/tourAPI_photogallery/관광공사API정리.xlsx

PreProcessing/.idea

naverCloud/oss
